#serviceBox
{
    width:100%;
    margin: 0 auto;
    margin-top:75px;

    border:1px solid black;
}
.serviceBox1, .serviceBox2, .serviceBox3 {
    float:left;
    width:33.3333333333%;
}

.box{
    background-color: white;
    border:1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 10px #bdbdbd;
}